#particles-js{
    background: black;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    position:absolute;
    margin-top: 40px;
    width: 50%;
}
.navbar{
    margin-bottom: 0;
}
body{
    overflow: hidden;
}

.panel-default>.panel-heading {
    color: #f5f5f5;
    /* background-color: #f5f5f5; */
    /* border-color: #ddd; */
    background: rgb(45,86,91);
    background: radial-gradient(circle, rgba(45,86,91,1) 0%, rgba(25,25,28,1) 100%);
}

.panel-footer {
    padding: 10px 15px;
    /* background-color: #f5f5f5; */
    border-top: 1px solid rgb(9, 0, 0);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgb(45,86,91);
    background: radial-gradient(circle, rgba(45,86,91,1) 0%, rgba(25,25,28,1) 100%);
}

.panel-default {
    border-color: black;
    background: rgb(45,86,91);
    background: radial-gradient(circle, rgba(45,86,91,1) 0%, rgba(25,25,28,1) 100%);
}

.text-center {
    text-align: center;
    color: #d9edf7;
}